body {
    margin: 0;
}
.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.hero {
    justify-content: center;
    width: 100%;
    background-color: rgb(133, 79, 156);
   
    
    header{
       
        .container{
             display: flex;
             justify-content: space-between;

             .logo{
                 font-size: 25px;
                 color: white;
             }

        .menu {
            display: flex;
            align-items: center;
            justify-content: center;

            ul{ 
                display: flex;
                justify-content: space-between;
                list-style: none;

                li{
                list-style: none;
                a{
                    text-decoration: none;
                    color:white;
                    font-size: 20px;
                    padding: 20px;
                }
                a:hover{
                    background-color: rgb(113, 66, 133) ;

                }
                   }
            }
            }
        }
    }
    .hero__bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    .text{
        
        h2{
            text-align: center;
            text-decoration: none;
            color:white;
            font-size: 35px;
            font-weight: 400;
            padding: 20px;
        }
    }
    .button{
        margin-top: 50px;
        margin-bottom: 150px;
        a{ text-decoration: none;
            p{
            color: white;
            padding: 20px 60px;
            background-color: rgb(235, 124, 75);
            border-radius: 10px;
            border-bottom: 4px solid rgb(204, 107, 65);
            }
        }
        p:hover{
            background-color: rgb(214, 113, 70);
            border-bottom: 4px solid rgb(224, 119, 73);
        }
    }
}
}
.services{
    background-color: rgb(23, 194, 163);
    .container{
        display: flex;
        align-items: center;
        justify-content: center;

           .services__text{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            color: white;
            margin-top:50px;
               h2{
                   font-size: 30px;
                   font-weight: 400;
               }
               .line{
                   height: 4px;
                   width: 40px;
                   background-color: rgb(19, 165, 139);

               }

            }
    .services__box{
        display: flex;
        margin-top: 100px;
        background-color:rgb(133, 79, 156);
        margin-bottom: 100px;

        .services__box__small {

            img{
                margin-top:-50px;
            }

        }
    }
}
}
.team{

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


           .team__text{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            margin-top:50px;
            .line{
                height: 4px;
                width: 60px;
                background-color: rgb(49, 211, 181);

            }
           }
           .team__box{
            display: flex;
            align-items: center;
            justify-content: center; 
            align-items: flex-start;
            margin-top: 50px;
            margin-bottom: 50px;
            align-items: stretch;

            .team__box__small{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                margin-top: 50px;
                margin: 15px;
                // border: 2px solid red;



                .circle{
                    margin-top: 0;
                    height: 150px;
                    width: 150px;
                    background-color: gray;
                    border-radius: 100%;
                }
                p{
                    width: 200px;
                    margin-bottom: 50px;
                }
    h3{
        line-height: 0;
        margin-top:30px;
    }
    h4{
        color: lightblue;
        font-weight: 400;
        line-height: 0;
        margin-top:5px;

    }
    .social {
        margin-top: 20px;
    }
               }
           }
        }
    }
    .portfolio{
        background-color: rgb(255, 221, 153);

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


           .portfolio__text{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            margin-top:50px;
            .line{
                height: 4px;
                width: 60px;
                background-color: rgb(49, 211, 181);

            }
            .portfolio__web{
                ul{
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 20px;
                        padding: 10px 15px 10px 15px;
                        background-color: rgb(234, 204, 141);
                        border-radius: 10px;
                        margin:20px;
                    }
                    a:hover{
                        background-color: white;
                    }
    
                }
            }

           }
           .portfolio__box{
            display: flex;
            align-items: center;
            justify-content: center; 
            align-items: flex-start;
            margin-top: 50px;
            margin-bottom: 50px;
            align-items: stretch;

            .portfolio__box__small{
                color: black;
                margin: 20px;
                p{
                    font-size: 23px;
                    font-weight: 400;
                }

            }
    }
    .button{
        margin-top: 50px;
        margin-bottom: 150px;
        a{ text-decoration: none;
            p{
            color: white;
            padding: 20px 60px;
            background-color: rgb(21, 193, 162);
            border-radius: 10px;
            border-bottom: 4px solid rgb(26, 214, 180);
            }
        }
        p:hover{
            background-color: rgb(28, 214, 180);
            border-bottom: 4px solid rgb(21, 193, 162);
        }
    }
    }
}
.touch{
    background-color: rgb(59, 83, 152);
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


           .touch__text{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            margin-top:50px;
            .line{
                height: 4px;
                width: 60px;
                background-color:  rgb(49, 69, 128);

            }
        }
        .touch__text__box{
            margin-top: 50px;
            input {
             
                width: 300px;
                height: 30px;
                padding: 12px;
                border:unset;
                background-color: rgb(38, 57, 112);
                &::placeholder{
                    color: white;
                    font-size: 20px;

                }
            }
            .email{
                margin-left: 20px;
            }
        }
        .touch__text__box2{
            margin-top: 20px;
            input {
                width: 645px; 
                height: 200px;
                padding: 12px;
                border:unset;
                background-color: rgb(38, 57, 112);
                &::placeholder{
                    color: white;
                    font-size: 20px;
                }

            }

        }
        .button{
            margin-top: 50px;
            margin-bottom: 150px;
            a{ text-decoration: none;
                p{
                color: white;
                padding: 20px 60px;
                background-color: rgb(47, 185, 231);;
                border-radius: 10px;
                border-bottom: 4px solid rgb(38, 147, 184);;
                }
            }
            p:hover{
                background-color: rgb(44, 173, 216);
                border-bottom: 4px solid rgb(47, 185, 231);
            }
        }
    }
}
        footer{
            background-color: rgb(50, 75, 142);
            .container{
                display: flex;
                justify-content: space-between;
   
            ul{
                display: flex;
                justify-content: space-between;
                list-style: none;
               li{
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 20px;
                    padding: 10px 15px 10px 15px;
                    border-radius: 10px;
                    margin:50px 30px;
                }
           
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .hero {
    header{
       
        .container{
             display: flex;
             justify-content: center;
             .logo{
             display: none;
             
             }

        .menu {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            

            ul{ 
                margin: 0;
                padding: 0;
                
                li{
                    display: flex;
                    justify-content: space-around;
                    list-style: none;
                    
                a{
                    text-decoration: none;
                    color:white;
                    font-size: 18px;
                    padding: 10px;
                   
                }
                   }
            }
            }
        }
    }
}
.services{
    .container{
        display: flex;
        align-items: center;
        justify-content: center;

           .services__text{
            width: 100%;
            }
    .services__box{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        background-color:rgb(133, 79, 156);
        margin-bottom: 100px;

        .services__box__small {
            box-sizing: border-box;
            padding: 10px;

            img{
                margin-top:10px;
                height: 40px;
            }

        }
    }
}
}
.team{

    .container{

           .team__box{

            flex-direction: column;
           }
        }
    }
    .portfolio{
        background-color: rgb(255, 221, 153);

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


           .portfolio__text{
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 5px;
            width: 100%;
            .line{
                height: 4px;
                width: 60px;
                background-color: rgb(49, 211, 181);

            }
            .portfolio__web{
                box-sizing: border-box;
                padding: 5px;
                width: 100%;
                ul{
                    display: flex;
                    justify-content: space-around;
                    list-style: none;
                    padding: 0;
                    margin-top: 10px;
                    a {
                        margin:7px;
                    }
                }
            }

           }
           .portfolio__box{

            flex-direction: column;

            .portfolio__box__small{
                color: black;
                margin: 20px;
                img{
                    height: 75px;
                    width: 100px;
                }
                p{
                    font-size: 19px;
                    font-weight: 400;
                }

            }
    }
    .button{
        margin-top: 0px;
        margin-bottom: 50px;
        a{ text-decoration: none;
            p{
            color: white;
            padding: 20px 60px;
            background-color: rgb(21, 193, 162);
            border-radius: 10px;
            border-bottom: 4px solid rgb(26, 214, 180);
            }
        }
        p:hover{
            background-color: rgb(28, 214, 180);
            border-bottom: 4px solid rgb(21, 193, 162);
        }
    }
    }
}
.touch{
    .container{
           .touch__text{
            .line{
                background-color:  rgb(49, 69, 128);
            }
        }
        .touch__text__box{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            width: 100%;
            box-sizing: border-box;
            padding: 0px;
            input {
             
                width: 100%;
                height: 30px;
                padding: 12px;
                border:unset;
                background-color: rgb(38, 57, 112);
                &::placeholder{
                    color: white;
                    font-size: 20px;

                }
            }
            .email{
                margin-left: 0;
                margin-top: 5px;
            }
        }
        .touch__text__box2{
            margin-top: 5px;
            width: 100%;
            input {
                width: 100%;
                height: 30px;
                padding: 12px;
                border:unset;
                background-color: rgb(38, 57, 112);
                &::placeholder{
                    color: white;
                    font-size: 20px;

                }
            }

        }
    }
}
footer{
    .container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;



    ul{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding-left: 0;
       li{
        a {
            text-align: center;
            text-decoration: none;
            color: white;
            font-size: 20px;
            padding: 10px 15px 10px 15px;
            border-radius: 10px;
            margin:50px 30px;
        }
   
    }
}
}
}
}
@media only screen and (max-width: 800px) {
    .team{

        .container{
    
               .team__box{
    
                flex-direction: column;
               }
            }
        }
        .portfolio{
            background-color: rgb(255, 221, 153);
    
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
    
               .portfolio__text{
                display: flex;
                align-items: center;
                box-sizing: border-box;
                padding: 5px;
                width: 100%;
                .line{
                    height: 4px;
                    width: 60px;
                    background-color: rgb(49, 211, 181);
    
                }
                .portfolio__web{
                    box-sizing: border-box;
                    padding: 5px;
                    width: 100%;
                    ul{
                        display: flex;
                        justify-content: space-around;
                        list-style: none;
                        padding: 0;
                        margin-top: 10px;
                        a {
                            margin:7px;
                        }
                    }
                }
    
               }
               .portfolio__box{
    
                flex-direction: column;
    
                .portfolio__box__small{
                    color: black;
                    margin: 20px;
                    img{
                        height: 75px;
                        width: 100px;
                    }
                    p{
                        font-size: 19px;
                        font-weight: 400;
                    }
    
                }
        }
        .button{
            margin-top: 0px;
            margin-bottom: 50px;
            a{ text-decoration: none;
                p{
                color: white;
                padding: 20px 60px;
                background-color: rgb(21, 193, 162);
                border-radius: 10px;
                border-bottom: 4px solid rgb(26, 214, 180);
                }
            }
            p:hover{
                background-color: rgb(28, 214, 180);
                border-bottom: 4px solid rgb(21, 193, 162);
            }
        }
        }
    }
    footer{
        .container{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
    
    
    
        ul{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            list-style: none;
            padding-left: 0;
           li{
            a {
                text-align: center;
                text-decoration: none;
                color: white;
                font-size: 20px;
                padding: 10px 15px 10px 15px;
                border-radius: 10px;
                margin:50px 30px;
            }
       
        }
    }
    }
    }
}